<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New-Tech Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body class="background">
    <a id="top"></a>
    <div id="page-container">
        <div id="content-wrap">
    <!-- nav bar with collapsible buttons -->
    <nav id="hero" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid font-theme">
            <img id="logo" src="/assets/images//Newtech_Logo_sm-transformed.png">
            <a class="navbar-brand ms-5" href="/dashboard">Share the Knowledge!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="dashboard" href="/dashboard">Dashboard/</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="profile" href="/profile">Profile/</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" id="newPost" href="/newPost">New Post/</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="logout" href="/">Logout/</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    
<!-- change the handlebar contents below this to see how it looks on live server -->
{{{body}}}




<!-- footer starts here -->
<footer>
<svg viewBox="0 0 120 28">
    <defs> 
    <mask id="xxx">
        <circle cx="7" cy="12" r="40" fill="#fff" />
    </mask>
    <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="
        1 0 0 0 0  
        0 1 0 0 0  
        0 0 1 0 0  
        0 0 0 13 -9" result="goo" />
        <feBlend in="SourceGraphic" in2="goo" />
        </filter>
        <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
    </defs> 
    <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
    <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
    <g class="topball">
    <circle class="ball" cx="110" cy="8" r="4" stroke="none" stroke-width="0" fill="#06a8f9fb" />
        <g class="arrow">
    <a href="#top"></a>
        <polyline class="" points="108,8 110,6 112,8" fill="none"  />
        <polyline class="" points="110,6 110,10.5" fill="none"  />
        </g>    
    </g>
    <g class="gooeff">
    <circle class="drop drop1" cx="20" cy="2" r="1.8"  />
    <circle class="drop drop2" cx="25" cy="2.5" r="1.5"  />
    <circle class="drop drop3" cx="16" cy="2.8" r="1.2"  />
        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" />
</svg>
    <div>Proudly Presented by <a href="https://github.com/EvolanGIT"><img src="/assets/images/personalLogo-transformed.png"></a></div>
    </footer>
</div>
<!-- footeer end -->
    </div>
</body>

<script src="/js/comment.js"></script>
<script src="/js/signup.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</html>