    <!-- Sign Up -->
<section  class="container mt-4">
    <div>
        <h1 class="row d-flex justify-content-center">Sign Up</h1>
    </div>
    <form class="container d-flex justify-content-center" id="sign-up-form">
        <div class="w-25">
            <div class="input-group"></div>
            <input type="text" class="form-control mb-1 " placeholder="First Name" id="First-Name" aria-describedby="basic-addon1">
            <input type="text" class="form-control mb-1" placeholder="Last Name" id="Last-Name" aria-describedby="basic-addon1">
            <input type="text" class="form-control mb-1" placeholder="Username" id="Username" aria-describedby="basic-addon1">
            <input type="text" class="form-control mb-1" placeholder="Password" id="Password" aria-describedby="basic-addon1">
            <input type="text" class="form-control mb-1" placeholder="E-mail" id="E-mail" aria-describedby="basic-addon1">
            </div>
        </div>
    <div class="container mt-2 d-flex justify-content-center">
            <button type="submit" class="btn  btn-primary mb-3 w-25 fs-4">Submit</button>
    </div>
    </form>
    <div class="container mt-2 d-flex justify-content-center">Already have an account?
        <a id="logger" href="/login">Login</a>
    </div>
</section>

